/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.btnGest:hover
{
    -fx-scale-x: 1.025;
    -fx-scale-y: 1.025;
    -fx-scale-z: 1.025;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .35), 20, 0, 1, 8);
}