/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.txt-pesquisa
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .25), 12, 0, 4, 2);
}

.backpane{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .35), 12, 0, 4, 2);
}

.btnOpcVeiculo{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .45), 12, 0, 4, 2);
}